/*Header*/
img.image-header {
  width: 100%;
}
/*Menu*/
.navbar.menu {
  background-color: #d93838;
  justify-content: unset;
  padding: 0px 0 0px 0px;
}

svg.bi.bi-house-door-fill {
    width: 1.6em;
}

.dropbtn {
  padding:0px 20px 0px 45px;
  font-size: 16px;
  border: none;
  background-color: #d93838;
  font-weight: 600;
}

button.dropbtn a{
  color: white;
  background-color: #d93838;
}

button.dropbtn a:hover {
  color: #fee682;
  text-decoration: none;
}

button.dropbtn:hover, button.dropbtn:active, button.dropbtn:focus {
  color: #fee682;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
 display: none; 
 position: absolute;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropbtn a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: aliceblue;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.dropbtn a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fee682;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dropbtn a:hover:before {
  left: 0;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Muc tin tuc*/

.tin-tuc-1 .image-tin-tuc img {
  width: 100%;
}

.tin-tuc-1 {
  width: 100%;
  border: 1px solid rgba(0,0,0,.25);
  margin-bottom: 2%;
}

.tin-tuc-2 .image-tin-tuc img {
  width: 105%;
}

.tin-tuc-2 {
  width: 100%;
}

.muc-tin-tuc {
  width: 51%;
  margin-left: 3%;
  margin-top: 3%;
  order: 1;
}

.image-tin-tuc {
  margin-bottom: 0%;
  padding: 1px 1px 0 1px;
}

.tieu-de a {
  color: black;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.tieu-de {
  margin-bottom: 2%;
}

.tieu-de a:hover {
  color: #ef8445;
  text-decoration: none;
}

.tieu-de {
  font-weight: 700;
}

.image-bai-viet img {
  width: 40%;
}

.bai-viet {
  width: 51%;
  margin-left: 3%;
  margin-top: 3%;
}

.image-bai-viet {
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
}

/*Tin mới*/
.bai-moi img {
  width: 33%;
}

.tin-moi {
  width: 37%;
  order: 2;
  margin-left: 6%;
  margin-top: 2.2%;
}

.content {
  display: flex;
}

.bai-moi .tieu-de {
  width: 67%;
  position: absolute;
  top: 30%;
  left: 36%;
}

.bai-moi {
  position: relative;
  margin-top: 2%;
}

/*Tin nổi bật*/
.tin-noi-bat {
  margin-top: 7%;
}

.tin-noi-bat h1 {
  background-color: #6c757d85;
  width: 104%;
}

/*footer*/
.footer {
  background: url(../Image/anh5.jpg) 0 0 repeat;
  color: floralwhite;
  position: relative;
  height: 140px;
  margin-top: 3%;
}

.xa-hoi-lien-ket {
  position: absolute;
  left: 79.8%;
  top: 20%;
}

.xa-hoi-lien-ket a {
  color: floralwhite;
}

img.facebook {
  width: 7%;
}

img.youtube {
  width: 22%;
}

.dia-chi-lien-he {
  position: absolute;
  top: 17%;
  left: 14%;
  line-height: 2;
}

.xa-hoi-lien-ket a:hover {
  text-decoration: none;
}

.logo img {
  width: 50%;
  border-radius: 70px;
}

.logo {
  position: absolute;
  top: 8%;
  left: 3%;
}

